#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: auto;
}

html {
  background-color: rgb(59, 57, 57);
}

body{
  padding: none;
}

input[type="checkbox" i] {
  margin-right: .5rem;
}

.checkbox {
}

.list li:has(input:checked) label {
  color: gray;
  text-decoration: line-through;
  opacity: 0.7;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  list-style: none;
  padding: 0;
  color: #ffc800;
}

.list li {
  gap: 0.5rem;
  align-items: center;
  color: #ffc800;
}

.list li:hover {
  color: #66ff00;
}

.item {
  display: flex;
  align-items: center;
}

.item:hover {
  transform: translateX(5px);
}

.edit-icon, .delete-icon {
}

li {
  margin: 0;
  padding: 0;
}

.edit-icon {
  margin-left: auto;
}

.delete-icon {
  margin-left: 5px;
}


.edit-icon:hover {
  transform: translateY(-3px);
}

.delete-icon:hover {
  transform: translateY(-3px);
}

.todo-item {
  flex-grow: 1;
}

.card {
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  background: linear-gradient(45deg, #1100f979, #6401f87e, #ff000069);
  background-size: 200%, 200%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  animation: glowing 5s infinite;
  animation: glow 5s infinite;
  box-sizing: border-box;

}



h1 {
  color: #ffc800;
}

.form-row {
  color: #ffc800;
  margin: auto;
}

label {
  margin-right: .5rem;
}

.btn {
  background-color: #ffc800;
  color: #9560e8;
  margin-top: .5rem;
  font-weight: bold;
}

.btn:hover{
  transform: translateY(-5px);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 0 #6304fd;
  }
  25% {
    box-shadow: 0 0 25px 0 #66ff00;
  }
  50% {
    box-shadow: 0 0 50px 0 #ffc800;
  }
  75% {
    box-shadow: 0 0 25px 0 #66ff00;
  }
  100% {
    box-shadow: 0 0 10px 0 #9560e8;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
